<header class="header--global Grid">
  <a href="" class="branding__logo"><span class="hidden">Ellen</span></a>
  <ul class="primary-nav Grid-cell">
    <li><a href=""><i class="fa fa-th-list"></i>Content</a></li>
    <li><a href=""><i class="fa fa-plus"></i>New Post</a></li>
  </ul>
  <a href="" ng-click="logout()" class="primary-nav__logout">Logout</a>
</header>
<main>
  <section class="entry-container">
    <header class="entry-title">
      <input type="text" placeholder="Your Article Title" value="" tabindex="1" ng-model="article.title">
    </header>
    <div class="entry__editor Grid">
      <section class="content-list Grid-cell">
        
      </section>
    </div>
  </section>
</main>