<header class="header--global Grid">
  <a href="" class="branding__logo"><span class="hidden">Ellen</span></a>
  <ul class="primary-nav Grid-cell">
    <li><a href=""><i class="fa fa-th-list"></i>Content</a></li>
    <li><a href=""><i class="fa fa-plus"></i>New Article</a></li>
  </ul>
  <a href=""  ng-click="logout()" class="primary-nav__logout">Logout</a>
</header>
<main>
  <section class="content-view-container Grid">
    <section class="content-list  u-1of3">
      <header class="header--list Grid">
        <span class="header--list__title Grid-cell">All Feeds</span>
        <i class="fa fa-plus header__icon--add Grid-cell--center"></i>
      </header>
      <ol class="content-list__content">
        <li ng-repeat="(feedID, feed) in feeds | orderByPriority | reverse">
        <!-- <li> -->
          <a href="" ng-click="loadFeed(feed)">
            <h3 class="content--list__title">
              <span ng-switch on="feed.type">
                <i class="fa fa-question-circle" ng-switch-when="question"></i>
                <i class="fa fa-file-text" ng-switch-when="article"></i>
              </span> {{feed.title}}
            </h3>
            <span class="date-created">Created: {{feed.dateCreated | date:'fullDate'}}</span>
          </a>
        </li>
      </ol>
    </section>
    <section class="content-preview u-2of3">
      <header class="header--list Grid">
        <span class="header--list__title Grid-cell">Author: {{selected.author.name}}</span>
        <a href="" ng-click="deleteFeed(selected)"><i class="fa fa-trash-o header__icon--add Grid-cell--center"></i></a>
      </header>
      <section class="content-preview__content">
        <div class="wrapper">
          <h1 class="feed--title">{{selected.title}}</h1>
          <p>
            {{selected.content}}
          </p>
        </div>
      </section>
    </section>
  </section>
</main>
